
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify{
	 text-align: justify;
}

.hidden {
  overflow: hidden;
}
.flex {
  display: flex;
}
.flex-jc-center {
  justify-content: center;
}
.flex-jc-between {
  justify-content: space-between;
}
.flex-ai-center {
  align-items: center;
}
.flex-center{
	align-items: center;
	justify-content: center;
}
.margin-auto{
	margin: auto;
}
.fixed{
	position: fixed;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}

.bold{
	font-weight: bold;
}
.block{
 display: block;
}
.full-width{
	width: 100%;
}
.half-width{
	width: 50%;
}